@model SalesAvenue.Models.Users

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Users</legend>

<table>
    <tbody>
        <tr>
            <td>@Html.LabelFor(model => model.StoreName)</td>
            <td>  @Html.EditorFor(model => model.StoreName)
                  @Html.ValidationMessageFor(model => model.StoreName)</td>
            <td>  @Html.LabelFor(model => model.Email)    </td>
            <td>  @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email) </td>
            <td> <input type="submit" value="Proceed" /></td>
        </tr>

    </tbody>

</table>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
